

.item{
    color: rgb(7, 7, 7);
    padding: 10px;
}

.item button {
    margin: 5px;
    border-radius: 5px;
}

.item img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.like img{
    width: 20px;
    height: 20px;
}

.post{
    margin: 10px;
    
}
.post  div{
    color: rgb(48, 35, 35);
}